<!-- app/views/index.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Your Application Title</title>
  <!-- Add your stylesheet link tags or other head elements here -->
</head>
<body>
  <%= yield %>
  <!-- Add your JavaScript script tags or other body elements here -->
</body>
</html>